<html>
   <body>
      <form action = "{{ url_for('save_contact') }}" method = "POST">
         <h3>Contact Information</h3>
         Username<br>
         <input type = "text" name = "name" /></br>

         Email<br>
         <input type = "text" name = "email" /></br>

         First name<br>
         <input type = "text" name = "first" /><br>

         Surname<br>
         <input type = "text" name = "surname" /><br><br>
         <input type = "submit" value = "Save" /><br>
      </form>
   </body>
</html>
