{% extends "bootstrap/base.html" %}

{% block content %}
<h1>Result: {{ msg or data.0 }}</h1>
   <br><br>
<a href="{{ url_for('create_contact') }}" class="btn btn-default">
    Create {% if data.1 %}another {% endif %}contact
</a>
<a href="{{ url_for('home') }}" class="btn btn-default">See all contacts</a>
{% endblock %}
