<html>
   <body>
      <form action = "{{ url_for('save_contact', contact_id=contact_id) }}" method = "POST">
         <h3>Contact {{ contact.id }} Information</h3>
         Username<br>
         <input type = "text" name = "name" value="{{ contact.username }}"/></br>

         Email<br>
         <input type = "text" name = "email" value="{{ contact.email }}"/></br>

         First name<br>
         <input type = "text" name = "first" value="{{ contact.first_name }}"/><br>

         Surname<br>
         <input type = "text" name = "surname" value="{{ contact.surname }}"/><br><br>
         <input type = "submit" value = "Update" /><br>
      </form>
   </body>
</html>
